---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <!-- Title -->
    <h2 class="post-title">
      <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
    </h2>
    <!-- Links -->
    <div class="post-links">
      {% if post.repo %}
      <a href="{{post.repo}}" target="_blank" class="post-link">Code</a>
      {% endif %}
      {% if post.demo %}
      <a href="{{post.demo}}" target="_blank" class="post-link">Demo</a>
      {% endif %}
    </div>
    <!-- Content -->
    <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
    <!-- Date -->
    <!-- <span class="post-date">{{post.date | date: '%Y, %b %d'}}</span> -->
  </div>
</article>
{% endfor %}

{% include pagination.html %}
